.bg__container {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);

    @media (max-width: 768px) {
      height: 100vh;
    }
  }
}

.mainContent__container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  .mainContent__container-quote {
    width: 100%;
    max-width: 540px;
    position: absolute;
    top: 0;
    color: white;
    font-size: 1.8rem;
    margin-top: 56px;
    display: flex;
    gap: 10px;
    align-items: baseline;
    text-wrap: wrap;

    .mainContent__quote-container {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .mainContent__quote-content {
        display: flex;
        align-items: baseline;

        p {
          font-size: 1.8rem;
          line-height: 1.5;
          letter-spacing: 0.5px;
        }
      }

      span {
        font-weight: 700;
      }
    }

    .mainContent__quote-refreshBtn {
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
  }

  .mainContent__container-greeting {
    position: absolute;
    top: 50%;
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;

    span {
      font-size: 3rem;
      letter-spacing: 4px;
    }
  }
}
