.bg__container {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);

    @media (max-width: 768px) {
      height: 100vh;
    }
  }
}

.mainContent__container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  .mainContent__container-quote {
    width: 100%;
    max-width: 540px;
    position: absolute;
    top: 0;
    color: white;
    font-size: 1.8rem;
    margin-top: 56px;
    display: flex;
    gap: 10px;
    align-items: baseline;
    text-wrap: wrap;

    .mainContent__quote-container {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .mainContent__quote-content {
        display: flex;
        align-items: baseline;
        gap: 5px;

        p {
          font-size: 1.8rem;
          line-height: 1.5;
          letter-spacing: 0.5px;
        }

        @media screen and (max-width: 768px) {
          gap: 10px;
        }
      }

      span {
        font-weight: 700;
      }
    }

    .mainContent__quote-refreshBtn {
      cursor: pointer;
      background-color: transparent;
      border: none;
    }

    @media (max-width: 768px) {
      padding: 1rem 3rem;
    }
  }

  .mainContent__container-greeting {
    position: absolute;
    top: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;

    .mainContent__container-text {
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        width: 25px;
        height: 25px;

        @media (max-width: 768px) {
          width: 18px;
          height: 18px;
        }
      }
    }

    .mainContent__container-greetingMobile,
    .mainContent__container-greetingDesktop {
      font-size: 3rem;
      letter-spacing: 4px;

      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
      }
    }

    .mainContent__container-greetingDesktop {
      display: none;
    }

    @media (max-width: 768px) {
      padding: 0 3rem;
    }

    @media (min-width: 768px) {
      .mainContent__container-greetingMobile {
        display: none;
      }

      .mainContent__container-greetingDesktop {
        display: block;
      }
    }
  }

  .mainContent__container-time {
    display: flex;
    align-items: end;
    gap: 10px;

    .mainContent__container-timeText {
      font-size: 10rem;
      font-weight: 900;
    }

    .mainContent__container-timeZone {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }

  .mainContent__container-location {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
