.bg__container {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
  }

  .bg__container-loader {
    /* Center the loading text */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    background-color: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
}

.mainContent__container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  .mainContent__quote-container {
    width: 100%;
    max-width: 540px;
    position: absolute;
    top: 0;
    color: white;
    font-size: 1.8rem;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: baseline;
    text-wrap: wrap;

    .mainContent__quote-texts {
      display: flex;
      align-items: baseline;
      gap: 5px;

      p {
        display: block;
        font-size: 1.8rem;
        line-height: 1.5;
        letter-spacing: 0.5px;
      }

      button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.8rem;
        font-weight: 700;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #f2f2f2;
        }
      }

      @media screen and (max-width: 768px) {
        gap: 10px;
      }
    }

    span {
      display: block;
      font-weight: 700;
    }

    @media (max-width: 768px) {
      padding: 1rem 3rem;
      margin-top: 0;
    }

    @media (max-width: 1100px) {
      max-width: 600px;
      padding: 2rem 4rem;
    }
  }

  .mainContent__container-greeting {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    color: var(--primary-white);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    .mainContent__greeting-textIcon {
      display: flex;
      align-items: center;
      gap: 8px;

      .mainContent__greeting-desktopText {
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;

        @media (max-width: 768px) {
          display: none;
        }
      }

      .mainContent__greeting-mobileText {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;

        @media (min-width: 768px) {
          display: none;
        }
      }

      img {
        width: 26px;
        height: 26px;

        @media (max-width: 768px) {
          width: 20px;
          height: 20px;
        }
      }
    }

    .mainContent__timeLocation-container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .mainContent__timeLocation-time {
        display: flex;
        align-items: end;
        gap: 20px;

        span:first-child {
          font-size: 15rem;
          line-height: 150px;
          font-weight: 800;
          vertical-align: bottom;

          @media (max-width: 768px) {
            font-size: 8rem;
            line-height: 100px;
          }
        }

        span:last-child {
          font-size: 2.5rem;
          font-weight: 300;
          line-height: 77px;
          vertical-align: bottom;

          @media (max-width: 768px) {
            font-size: 2rem;
            line-height: 50px;
          }
        }
      }

      .mainContent__timeLocation-location {
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }

    @media (max-width: 768px) {
      padding: 1rem 3rem;
    }

    @media (max-width: 1100px) {
      padding: 2rem 4rem;
    }
  }

  .expendMore__container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: -44px;

    @media screen and (max-width: 768px) {
      margin-top: 0;
      justify-content: flex-start;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .expendMore_button-container {
      width: 115px;
      height: 39px;
      border: none;
      border-radius: 50px;
      text-transform: uppercase;
      color: var(--primary-black);
      font-weight: var(--font-weight-semi-bold);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 16px;
      padding-right: 5px;
      letter-spacing: 2px;
      cursor: pointer;

      span:last-child {
        width: 35px;
        height: 35px;
        background-color: var(--primary-gray);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

.expendInfo__container-table {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;

  /* vertical line */
  span {
    position: absolute;
    top: 8%;
    left: 47%;
    transform: translateX(-50%);
    width: 1px;
    height: 80%;
    background-color: var(--primary-white);
    opacity: 0.5;

    /* table size display none */
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  table {
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;

    tbody {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 20px;

      @media screen and (max-width: 768px) {
        grid-template-columns: none;
      }

      tr {
        display: flex;
        flex-direction: column;

        .expendInfo__td-title {
          font-size: 2rem;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-bottom: 10px;

          @media screen and (max-width: 768px) {
            font-size: 1.5rem;
          }
        }

        .expendInfo__td-description {
          font-size: 6rem;
          font-weight: 700;
          letter-spacing: 1px;
          margin-bottom: 20px;

          @media screen and (max-width: 768px) {
            font-size: 3rem;
          }
        }

        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin: auto 0;
        }
      }
    }

    @media screen and (max-width: 768px) {
      height: fit-content;
      padding: 0 4rem;
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
